# dependencies
node_modules

mdless
iterm2
configstore
gcloud
yarn
zsh/.gitignore
zsh/.zcompdump
zsh/.zsh_history
"zsh/.zcompdump-S - C02FT2RHMD6P - FE-5.8"
"zsh/.zcompdump-Scale C02FT2RHMD6P-5.8"
"zsh/.zcompdump-Scale- C02FT2RHMD6P-5.8"

