*.logs

ai-tools

nvim/TODO.txt
nvim/TODO.md
nvim/private.vim
nvim/private.lua
nvim/local.lua
nvim/lua/playground.lua
nvim/pack/github/start/copilot.vim
nvim/debug.vim
nvim/lazy-lock.json
nvim/config.yaml
nvim/.env

python/venv

zsh/.zcompdump  
zsh/.zsh_history  

.DS_Store
